<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Say Hello</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/main.css')}}">
</head>

<body>
    <img src="https://cdn.pixabay.com/photo/2020/08/11/14/34/greeting-5480092_1280.png">
    <br>
    <form action="greet" method="post">
        {% for message in get_flashed_messages()%}
        <p>{{message}}</p>
        {% endfor %}
        <br>
        <input type="text" name="name_input">
        <br>
        <input type="submit" value="SAY HI" id="greet">
    </form>
</body>

</html>